meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Producción de contenidos digitales
meta(meta name="description" content="A fin de comprender el espacio que ocupan los diversos medios digitales en la cotidianidad de las personas y poder establecer  su alcance como educadores, se explora en detalle el significado, características que tienen los medios audiovisuales; como son como el texto, la imagen, el audio, video y sitios Web: En este sentido se propone en el presente componente, como la producción de contenidos digitales es un proceso que requiere de diversos medios que permiten generar  Recursos Educativos Digitales, siendo creados con una intencionalidad pedagógica, donde el docente debe conocer ampliamente el tema que se quiere tratar, así como plantear el objetivo de aprendizaje.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")