h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 240201048-02 - Desarrollar material didáctico digital teniendo en cuenta plataforma y normativa.