.container#introduccion

    .header-ecored

        h1 Introducción

    .card

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/q7IFyfXJsNY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body

            p La producción de contenidos digitales es un proceso que requiere de diversos medios que permiten generar  Recursos Educativos Digitales, siendo creados con una intencionalidad pedagógica, donde el docente debe conocer ampliamente el tema que se quiere tratar, así como plantear el objetivo de aprendizaje, en consonancia con los contenidos que los estudiantes deben aprender, de esta manera se establecen los medios y procedimientos que facilitarán la aproximación de los estudiantes al proceso de aprendizaje.

            p.mt-4 La producción de contenidos digitales es un proceso que requiere de diversos medios y de instructores que, además de las herramientas, conozcan ampliamente el tema que se pretende abordar. A la hora de producir un contenido, es imprescindible partir de un objetivo de aprendizaje que sea acorde con las competencias que los aprendices deben lograr; de esta manera, además de identificar los medios y procedimientos que se requieren para la producción, es necesario articularlos con una intencionalidad pedagógica o didáctica, de tal forma que deriven en Recursos Educativos Digitales.

            p.mt-4 Es así, como la producción de los contenidos digitales debe estar orientada a informar sobre un tema, a ayudar a la adquisición de conocimiento, reforzar un aprendizaje, remediar una situación desfavorable, propiciar el desarrollo de una determinada competencia y evaluar conocimientos. Para lograrlo, pueden integrar diversos formatos como texto, imagen, audio, video y sitios Web, entre otros, que posibilitan y enriquecen los aprendizajes por medio del uso de las Tecnologías de la Información y la Comunicación (TIC).

            p.mt-4 Cabe aclarar, que el hecho de que un recurso educativo digital sea multimedial, interactivo y de fácil acceso no determina que sea efectivo para el logro de aprendizajes significativos, sino que dicho proceso de integración de medios y formatos se realice desde una reflexión pedagógica sobre cómo se aprende y sea construido a partir de métodos didácticos propuestos sobre cómo se enseña (Zapata, 2012).

            p.mt-4 A continuación, se abordarán los principales medios, con el fin de llegar a una aproximación conceptual, presentar algunas características que se le atribuyen y, por último, los formatos y herramientas que se pueden utilizar para gestionar frente a la construcción de los posibles recursos educativos digitales: