.container#temas

    .header-ecored

        h1 2. Temas complementarios

    br#netiqueta

    .card

        .card-body

            .subtitulo-guion
                h2 2.1 Netiqueta
            
            p Es un conjunto de reglas que regulan el comportamiento de los usuarios para comunicarse en la red, en pocas palabras es la etiqueta del ciberespacio. Es muy importante tener en cuenta estas reglas, para no generar conflictos o desagravios en la comunicación dentro de las diversas plataformas virtuales existentes (Gutierrez Zuñiga, 2020). No obstante, es importante tener en cuenta que estos códigos no afectan la forma de ser de los usuarios en la red, sino que solo sirven para indicar cuál es el comportamiento más adecuado en la red, para así, garantizar que las relaciones a través de la red serán mejores y más humanas, y combate problemas como el fraude, el spam, entre otros (Ribas, 2018).
            
            .header-arrow.arrow1.my-5.text-center
                p #[strong Las 10 reglas básicas de la netiqueta son:]
            
            .row.justify-content-center.mt-4
                .col-8.mt-4.p-4
                    .list.align-items-start
                        .list__item
                            .list__item__bulletNumber
                                span 1
                        .list__txt
                        p.mb-0 Recuerde lo humano.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 2
                        .list__txt
                        p.mb-0 Buena educación.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 3
                        .list__txt
                        p.mb-0 Compórtate como en la vida real.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 4
                        .list__txt
                        p.mb-0 Sepa en qué lugar del ciberespacio está.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 5
                        .list__txt
                        p.mb-0 Respete el tiempo y el ancho de banda de los demás.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 6
                        .list__txt
                        p.mb-0 Forma de escritura.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 7
                        .list__txt
                        p.mb-0 Comparta el conocimiento de expertos.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 8
                        .list__txt
                        p.mb-0 Ayude a que las controversias se mantengan bajo control.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 9
                        .list__txt
                        p.mb-0 Respeto por la privacidad de los demás.
                    .list.align-items-start.mt-2
                        .list__item
                            .list__item__bulletNumber
                                span 10
                        .list__txt
                        p.mb-0 No abuse de las ventajas que pueda usted tener, excuse los errores de otros.
                
            p.mt-4 Para abordar este tema se tendrá en cuenta la revisión de los siguientes recursos, a continuación, se relaciona los enlaces de acceso:
            
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="https://www2.uned.es/iued/guia_actividad/netiqueta.htm" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p Guía de Actividades de #[i WebCT]
            
            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="https://www.enticconfio.gov.co/sabes-que-es-la-netiqueta" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p ¿Sabes qué es la netiqueta?
    
    br#apa

    .card

        .card-body

            .subtitulo-guion
                h2 2.2 Normas APA

            .row
                .col-12.col-md-auto.text-center.p-4
                    img.img-fluid(src="assets/images/pages/img13.svg", style="max-width: 100%")
                .col-12.col-md
                    p La norma APA son estándares creados por la American Psychological Association, con el fin de unificar la forma de presentación de trabajos escritos a nivel internacional, diseñadas especialmente para proyectos de grado o cualquier tipo de documentos de investigación (Universia, 2019).
                    p.mt-4 Su función principal, es la de facilitar la creación y comprensión de documentos, libros, folletos, con carácter científico. Las normas tuvieron una excelente aceptación, que luego de tantos años siguen vigentes y en la gran mayoría de países son empleadas. Estas también cumplen con dos funciones muy importantes: apoyarse en la sustentación de consultas y la de respetar la autoría de las citaciones, de incurrir con lo anterior se estaría cometiendo plagio intelectual (Norte, 2016).
                    p.mt-4 Para abordar este tema se tendrá en cuenta la revisión de los siguientes recursos. A continuación, se relaciona los enlaces de acceso:
                    
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="https://normasapa.com/" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Normas APA
                    
                    section.mt-4
                        .row.justify-content-center
                            .col-auto
                                a(href="https://normasapa.com/formato-apa-presentacion-trabajos-escritos/" target="_blank").media-link
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                    .media-link-title
                                        p Formato APA para la presentación de trabajos escritos