.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Audio:
            | se denomina a la técnica que permite reproducir, grabar y editar sonidos, bajo un sistema tecnológico.
        p
            strong.mr-2 Imagen:
            | es una figura, representación visual de algún objeto o persona, que pueden ser captadas por el ojo, existen diversos tipos de imagen atendiendo a las diversas disciplinas.
        p
            strong.mr-2 Medios digitales:
            | se comprenden como los diversos formatos que a través de un dispositivo electrónico digital, se pueden visualizar, organizar, modificar y distribuir información de gran variedad, como imágenes, videos, audios, sitios web.
        p 
            strong.mr-2 Sitios web:
            | es un espacio virtual, constituido por múltiples páginas web con diversidad de temas, las cuales se pueden acceder bajo un dominio y dirección de Internet.
        p
            strong.mr-2 Texto:
            | es un conjunto de palabras y enunciados que agrupados y con una intencionalidad permiten transmitir un mensaje coherente y ordenado, lo que determina la unidad superior de comunicación de una persona.