.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td MInTic, 2015. ¿Sabes qué es la Netiqueta?
                    td Web
                    td 
                        a(href="https://www.enticconfio.gov.co/sabes-que-es-la-netiqueta", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Ver
                tr
                    td Netiquétate, 2010. Pantallas Amigas
                    td Web
                    td 
                        a(href="http://netiquetate.com/", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Ver
                tr
                    td Normas APA, 2020. Chegg Service
                    td Web
                    td 
                        a(href="https://normasapa.com/formato-apa-presentacion-trabajos-escritos/", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Ver
                tr
                    td Normas APA, 2019. Chegg Service
                    td Web
                    td 
                        a(href="https://normasapa.com/", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Ver