include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Acuña, M. (Noviembre, 2017). El Vídeo Educativo como recurso dinamizador del Aprendizaje. Obtenido de El Vídeo Educativo como recurso dinamizador del Aprendizaje:", "https://www.evirtualplus.com/video-educativo-como-recurso-aprendizaje/")

        +referenciaItem("Area Moreira, M. (2003). De los webs educativos al material didáctico. Comunicación y Pedagogía, 32-38.", "")

        +referenciaItem("Bravo Ramos , J. (s.f.). ¿Que es el vídeo educativo?", "http://www.ice.upm.es/wps/jlbr/Documentacion/QueEsVid.pdf")

        +referenciaItem("Contributors, E. (28 de Diciembre de 2019).", "https://www.ecured.cu/index.php?title=Sitio_Web&oldid=3600270")

        +referenciaItem("Contributors, E. (25 de Junio de 2019). Texto.", "https://www.ecured.cu/index.php?title=Texto&oldid=3430338")

        +referenciaItem("González-Serna Sánchez, J. (s.f.). Sintaxis de la imagen. Recuperado de Sintaxis de la imagen:", "http://www.auladeletras.net/material/sintimg.pdf")

        +referenciaItem("Gubern, R. (2004). Patologías de la imagen . Barcelona: Anagrama.", "")

        +referenciaItem("Hormart. (06 de Septiembre de 2019). ¿Qué formatos de video hay y cómo elegir el mejor para tu negocio?", "https://blog.hotmart.com/es/formatos-de-video/")

        +referenciaItem("Kliever, J. (s.f.). Diseños de letras - cómo los diseñadores eligen qué fuente usar.", "https://www.canva.com/es_mx/aprende/tipografia-que-hacen-disenadores-para-elegir-fuentes/")

        +referenciaItem("Muñoz, A., Moncada , G., & Paramo , C. (01 de Febrero de 2013). Herramientas para la elaboración y uso educativo de recursos de audio.", "http://eduteka.icesi.edu.co/articulos/Audio")

        +referenciaItem("Painn, A. (2014). ¿Tienes el formato de sitio web apropiado para tu proyecto?", "https://www.antoniopainn.com/tienes-el-formato-de-sitio-web-apropiado-para-tu-proyecto/")

        +referenciaItem("Podcastedu. (01 de Septiembre de 2007). Podcast Educativo. Obtenido de Podcast Educativo:", "https://podcastedu.wordpress.com/")

        +referenciaItem("Profesorado., I. S. (s.f.). Diseño de Materiales Multimedia. Obtenido de Diseño de Materiales Multimedia:", "http://www.ite.educacion.es/formacion/materiales/107/cd/audio/audio0102.html")

        +referenciaItem("Romero, B. (s.f.). ¿Cuáles son los mejores tipos de formatos de imágenes que existen?", "https://www.begoromero.com/formatos-de-imagen/")

        +referenciaItem("Salvador Menéndez, P., Sánchez Fernández , J., Suárez García , Z., Villa Arias , N., & Zuñiga Álvarez , B. (Diciembre de 2010). La imagen. Recuperdo de La imagen:", "http://conceptodeimagen.blogspot.com/2010/12/caracteristicas-basicas-de-la-imagen.html")

        +referenciaItem("Sonora, C. (s.f.). ¿Que formatos de audio existen? Obtenido de ¿Que formatos de audio existen?:", "https://www.culturasonora.es/blog/formatos-de-audio/")

        +referenciaItem("WeAreContent. (26 de Mayo de 2019). Principios básicos para la creación de contenidos digitales.", "https://www.wearecontent.com/blog/marketing-de-contenidos/contenidos-digitales#La_importancia_del_analisis_de_las_palabras_clave")

        +referenciaItem("Zapata, M. (Septiembre de 2012). Recursos educativos digitales: conceptos básicos.", "http://aprendeenlinea.udea.edu.co/boa/contenidos.php/d211b52ee1441a30b59ae008e2d31386/845/estilo/ aHR0cDovL2FwcmVuZGVlbmxpbmVhLnVkZWEuZWR1LmNvL2VzdGlsb3MvYXp1bF9jb3Jwb3JhdGl2by5jc3M=/1/contenido/")